<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Cab Usage System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Welcome to the Employee Cab Usage System</h1>
    <p class="text-center mt-3">Manage your employee cab usage efficiently.</p>
    <div class="text-center mt-4">
        <a href="/cab-usage" class="btn btn-primary btn-lg mx-2">Save Employee Data</a>
        <a href="/employeeCabUsage" class="btn btn-secondary btn-lg mx-2">Fetch Employee Data</a>
    </div>
</div>
</body>
</html>
